@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=PT+Sans+Narrow&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(107, 172, 246);
    padding: 0px 100px 0px 100px;
}
.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
img {
    height: 130px;
    width: 130px;
    border-radius: 50%;
    border: solid rgb(156, 156, 156);
}
.card {
    width: 270px;
    height: 350px;
    margin: 80px;
    margin-bottom: 40px;
    margin-top: 30px;
    padding: 20px;
    padding-top: 50px;
    /* border: solid black; */
    box-shadow: 3px 3px #888888;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}
.card:hover {
    border: 1px solid grey;
}
h1{
    padding: 15px;
    font-family: 'Oswald', sans-serif;
    font-size: 27px;
}
a{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 18px;
    text-decoration: underline;
}